--- 
apiVersion: apps/v1 
kind: Deployment
metadata:
  name: payment
  labels:
    app: payment
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      containers:
      - name: payment
        image: weaveworksdemos/payment:0.4.3
        resources:
          limits:
            cpu: 300m
            memory: 1000Mi
          requests:
            cpu: 100m
            memory: 300Mi
        ports:
        - containerPort: 80
        securityContext:
          runAsNonRoot: true
          runAsUser: 10001
          capabilities:
            drop:
              - all
            add:
              - NET_BIND_SERVICE
      nodeSelector:
        beta.kubernetes.io/os: linux
---
apiVersion: v1
kind: Service
metadata:
  name: payment
  labels:
    app: payment
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: payment
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: payment-ingress
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: payment
          servicePort: 80

